PORT=3001
TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
FRONTEND_URL=http://localhost:3000

# Google BigQuery
GCP_PROJECT_ID=cinegraph-xxxxx
GCP_DATASET_ID=cinegraph
GOOGLE_APPLICATION_CREDENTIALS=./secrets/gcp-service-account.json
